<?xml version="1.0"?>
<launch>
  <!-- this launch file corresponds to robot model in ros-pkg/robot_descriptions/pr2/erratic_defs/robots for full erratic -->

    <arg name="model" />
  <param name="robot_description" textfile="$(find chapter8_tutorials)/urdf/robot2.urdf" />
  <node name="joy_node" pkg="joy" type="joy_node" ></node> 
  <node name="c8_teleop_joy" pkg="chapter8_tutorials" type="c8_teleop_joy" ></node> 
  <node name="c8_odom" pkg="chapter8_tutorials" type="c8_odom" ></node> 
  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chapter8_tutorials)/config/config.rviz" />
</launch>

